* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  background-color: rgb(221, 176, 121);
}
.wrapper {
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  padding: 2em;
}
.intro-info {
  padding: 5em 2em;
  text-align: center;
}
.intro-info h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}
.intro-images {
  padding-bottom: 2em;
}
.intro-info p {
  font-size: 1.5em;
}
.intro-images {
  display: flex;
  height: 500px;
}
.card {
  background-color: gray;
  width: 70%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: none;
}
.mobile-card {
  display: block;
}
.service-section {
  max-width: 1200px;
  margin: 20em auto 5em auto;
  display: flex;
  flex-direction: column;
  gap: 5em;
  text-align: center;
  padding: 2em;
}
.service-section h3 {
  font-size: 2rem;
  margin-bottom: 1em;
}
.service-section p {
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .card.tablet-mode {
    align-self: flex-end;
  }
  .service-section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .intro-info {
    text-align: start;
  }
  article {
    flex: 1;
    text-align: start;
  }
  .tablet-show {
    flex-basis: 100%;
  }
  .intro-images {
    gap: 2em;
  }
  .card {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .service-section {
    flex-wrap: nowrap;
  }
  article {
    flex: auto;
    text-align: center;
  }
  .tablet-show {
    flex-basis: auto;
  }
  .card.tablet-mode {
    align-self: center;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .card {
    flex-basis: 50%;
  }
  .intro-images {
    width: 100%;
    align-items: center;
  }
}
